.header {
  display: flex;
  flex-direction: column;
  justify-items: left;
  height: 120px;
  margin-bottom: 3rem;
  background-color: $color-highlight1;
  padding-left: 20px;
  padding-top: 20px;
}

.name {
  font-size: 50px;
  margin-bottom: 5px;
}

.tag {
  font-size: 20px;
}
